include .env.example
include uv.lock
recursive-include db *.sql
recursive-include docs *.md
recursive-include examples *.toml *.txt *.csv *.env
recursive-include scripts *.sh
recursive-include testdata *.csv
